<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.task.movieapp.common">
    <application>
        <activity
            android:name="com.task.movieapp.common.errordialog.ErrorDialogActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/customErrorDialogTheme"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>